@model IEnumerable<Coaching_Models.Coach>

@{ 
    int i = 1;
    string stringSource = "noProfilImage.jpg";
}

@foreach (var coach in Model)
{
    if (coach.Utilisateur.ProfilePicture != null)
    {
        stringSource = coach.Utilisateur.Id + coach.Utilisateur.ProfilePicture;
    }

    <article class="card">
        <div class="card-header">
            <img src="/Content/images/utilisateurs/@stringSource" alt="ActImage">
        </div>
        <div class="card-body">
            <h2>@coach.Utilisateur.Prenom @coach.Utilisateur.Nom</h2>
            <p>@coach.Utilisateur.Pseudo</p>
        </div>
        <div class="card-footer">
            <div class="btn-card">
                @Html.ActionLink("Details", "Details", "Coaches", new { id = coach.Id }, new { @class = "button noselect" })
            </div>
        </div>
    </article>
    i++;
}


