@{
    ViewBag.Title = "Home Page";
}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2 class="titleh2"><span class="titleSpan">Will</span>-Coach-Soon vous propose..</h2>
            <p>
                <i>
                    Des séances de coaching personnel ou en groupe ! <br />
                    À la maison,en salle ou en pleine air <br />
                    Venez nous racontrer,
                    Partager des conseils,
                    ou des entrainements.
                    
                    <br />

                </i>
            </p>
        </header>
        <span class="image"><img src="~/Content/images/AllSportLogo.png" alt="" /></span>

    </div>
    
    <a href="#one" class="goto-next scrolly">Next</a>
</section>





<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="~/Content/images/ligneDeDepart.jpg" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Trouver un coach facilement et prés de chez vous..</h2>
                        <p>Reserver une séance avec un coach prés de chez vous, de votre lieu de travail ou meme de votre maison de vacance ! Pour des séances en groupe ou individuel.</p>
                    </header>
                </div>

                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Les chiffres parlent pour soi </h2>
                        <p>10 000 utilisateurs utilise notre site tous les jours! <br /> Des célébrités nous soutienne et nous partage l'amour du sport</p>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Meme le dernier d'une course , est devant de ceux qui ne courent pas!</h2>
                        <a href="/Utilisateurs/Log">  <br /> Rejoins Nous! </a>
</header>
                </div>

            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
@*<section id="two" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="~/Content/images/yoga.jpg" alt="" /></span>
    <div class="content">
        <header>
            <h2>Un forum de chat accesible a tous !</h2>
            <p>Chaque utilisateur est intégrer à un chat personaliser en fonction de sa position il pourra donc échanger avec la communauté proche de chez lui. </p>
        </header>
       
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>*@

<section id="three" class="spotlight style2 right">
<span class="image fit main bottom"><img src="~/Content/images/colorrun.jpg" alt="" /></span>
<div class="content">
    <header>
        <h2>Une Forte communauté !</h2>
        <p>Rien ne vous empechera de réaliser votre séance de sport ou que vous soyez...Votre communauté est actif n'hésitez pas a les soliciter!</p>
    </header>
</div>
<a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Three  -->
<section id="four" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="~/Content/images/cyclisme.jpg" alt="" /></span>
    <div class="content">
        <header>
            <h2>Des prix attractif</h2>
            <p>Des tarifs intéressant vous seront proposer ! en effet nous vous mettons directement en relation avec nos coachs sans INTERMEDIAIRE!!</p>
        </header>
        
    </div>
    <a href="#five" class="goto-next scrolly">Next</a>
</section>
