@{
    ViewBag.Title = "Home Page";
}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>Will-Coach-Son vous propose..:</h2>
            <p>
                <i>
                    Des séances de coaching personel ou en groupe
                    -A la maison, a la salle ou en pleine air
                    -Partager des conseils, des entreinements ou même des opurtinitées via le chat reserver a votre ville.
                </i>
            </p>
        </header>
        <span class="image"><img src="~/Content/images/AllSportLogo.png" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>





<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="~/Content/images/ligneDeDepart.jpg" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Trouver un coach facilement et prés de chez vous..</h2>
                        <p>Reserver une séance avec un coach prés de chez vous, de votre lieu de travail ou meme de votre maison de vacance ! Pour des séances en groupe ou individuel.</p>
                    </header>
                </div>



            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="~/Content/images/yoga.jpg" alt="" /></span>
    <div class="content">
        <header>
            <h2>Un forum de chat accesible a tous !</h2>
            <p>Chaque utilisateur est intégrer à un chat personaliser en fonction de sa position il pourra donc échanger avec la communauté proche de chez lui. </p>
        </header>
       
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>

<section id="three" class="spotlight style2 right">
<span class="image fit main bottom"><img src="~/Content/images/colorrun.jpg" alt="" /></span>
<div class="content">
    <header>
        <h2>Une Forte communauté !</h2>
        <p>Rien ne vous empechera de réaliser votre séance de sport ou que vous soyez...Votre communauté est actif n'hésitez pas a les soliciter!</p>
    </header>
</div>
<a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Three  -->
<section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="~/Content/images/cyclisme.jpg" alt="" /></span>
    <div class="content">
        <header>
            <h2>Des prix attractif</h2>
            <p>Des tarifs intéressant vous seront proposer ! en effet nous vous mettons directement en relation avec nos coachs sans INTERMEDIAIRE!!</p>
        </header>
        
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
</section>
