@model IEnumerable<Coaching_Models.Coach>

@{
    ViewBag.Title = "Index";
}

<h2>Les coaches</h2>

@if (Session["coach_id"] != null)
{
    <p>
        @Html.ActionLink("Creer un Cours", "Create", "Cours")
    </p>
}

<div class="row gtr-uniform gtr-50">
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Coach" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Ville" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Activité" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Date" />
    </div>
</div>

@Html.Partial("CoachList")