@model List<string>

@for (int i = 0; i < Model.Count(); i++)
{


    <article class="card">
        <div class="card-header">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_960_720.jpg" alt="">
        </div>
        <div class="card-body">
            <span class="tag tag-first">Shoes</span>
            <h2>NIKE AIR MAX 90</h2>
            <p>Un style percutant avec des tissus et des designs aux couleurs audacieuses.</p>
        </div>
        <div class="card-footer">
            <span class="price">139,99€</span>
            <div class="btn-card">
                <button type="button" name="button" class="noselect">Acheter</button>
            </div>
        </div>
    </article>
}
