@model Coaching_Models.ViewModel.ViewModelVille

<script>
    function populate(id)
    {
        let CardContainer = document.querySelector(".cards-container")
        CardContainer.removeChild(CardContainer.firstChild)
        if (id == 0) {
            CardContainer.innerHTML = `@Html.Partial("Cards",Model.Cours)`
        } else {
            CardContainer.innerHTML = `@Html.Partial("CoachList",Model.Coaches)`
        }
    }
</script>



<br />
<br />
<nav class="nav">
    <ul class="nav-list">
        <li>
            <a class="nav-link" style="cursor:pointer" onclick="populate(0)">Activités</a>
        </li>
        <li>
            <a class="nav-link" style="cursor:pointer" onclick="populate(1)">Coaches</a>
        </li>
    </ul>
</nav>

<br />


<h3>Les Activités disponibles dans votre ville</h3>
<div class="cards-container">
    @Html.Partial("Cards", Model.Cours)
</div>
