
@{
    ViewBag.Title = "Index";
    List<string> lst1 = new List<string> { "1", "2", "3" };
    List<string> lst2 = new List<string> { "1" };
}

<script>
    function populate(id)
    {
        let CardContainer = document.querySelector(".cards-container")
        CardContainer.removeChild(CardContainer.firstChild)
        if (id == 0) {
            CardContainer.innerHTML = `@Html.Partial("Cards",lst1)`
        } else {
            CardContainer.innerHTML = `@Html.Partial("Cards",lst2)`
        }
    }
</script>

<link href="~/Content/StyleSheetCard.css" rel="stylesheet" />

<br />
<br />
<nav class="nav">
    <ul class="nav-list">
        <li>
            <a class="nav-link" style="cursor:pointer" onclick="populate(0)">Activités</a>
        </li>
        <li>
            <a class="nav-link" style="cursor:pointer" onclick="populate(1)">Coaches</a>
        </li>
    </ul>
</nav>

<br />


<h3>Les Activités disponibles dans votre ville</h3>
<div class="cards-container">
</div>
